@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.form-group {
  margin-bottom: 0; }

html {
  position: relative;
  min-width: 320px;
  /*
  @media (min-width: $lg) {
      &.aside-open,
      &.cart-open {
          overflow: auto;
          width: auto;
          height: auto;
      }
  }
  */ }
  html.aside-open, html.cart-open {
    overflow: hidden;
    width: 100%;
    height: 100%; }

body {
  position: relative;
  margin-top: 90px;
  min-width: 320px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #2b2b2b; }
  @media (min-width: 768px) {
    body {
      margin-top: 145px; } }
  @media (min-width: 1280px) {
    body {
      margin-top: 213px; } }

a {
  color: #2b2b2b; }
  a:hover, a:focus {
    color: #2b2b2b;
    text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

#header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  min-width: 320px;
  background-color: #fff; }
  #header .top-nav {
    height: 50px;
    background-color: #3b3b3b; }
    #header .top-nav .global .dropdown {
      width: 130px; }
      #header .top-nav .global .dropdown .btn {
        padding: 0;
        border: 0;
        box-shadow: none;
        color: #fff;
        height: 50px;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        background-color: transparent; }
        #header .top-nav .global .dropdown .btn:after {
          margin-left: 15px;
          font-family: 'fontello';
          content: '\F107';
          text-decoration: none; }
        #header .top-nav .global .dropdown .btn:hover span, #header .top-nav .global .dropdown .btn:focus span {
          text-decoration: underline; }
      #header .top-nav .global .dropdown.open .btn:after {
        content: '\F106'; }
    #header .top-nav .mypage {
      position: absolute;
      top: 0;
      right: 235px; }
      #header .top-nav .mypage .dropdown .btn {
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
        border: 0;
        font-family: 'Noto Sans KR', sans-serif;
        color: #fff;
        font-size: 12px;
        line-height: 50px;
        background-color: transparent; }
        #header .top-nav .mypage .dropdown .btn:focus, #header .top-nav .mypage .dropdown .btn:hover {
          text-decoration: underline; }
      #header .top-nav .mypage .dropdown .dropdown-menu {
        left: -20px;
        margin-top: 0;
        padding: 5px 30px 20px;
        width: 230px;
        background-color: #3b3b3b;
        border-radius: 0;
        border: 0;
        box-shadow: none; }
        #header .top-nav .mypage .dropdown .dropdown-menu > ul > li > a {
          font-family: 'Lato', sans-serif;
          font-size: 11px;
          line-height: 23px;
          color: #fff; }
          #header .top-nav .mypage .dropdown .dropdown-menu > ul > li > a:hover, #header .top-nav .mypage .dropdown .dropdown-menu > ul > li > a:focus {
            text-decoration: underline; }
        #header .top-nav .mypage .dropdown .dropdown-menu > .btn-login {
          display: block;
          margin-top: 20px;
          width: 100%;
          height: 25px;
          font-family: 'Lato', sans-serif;
          font-size: 11px;
          line-height: 23px;
          border: 1px solid #fff;
          color: #fff;
          text-align: center; }
          #header .top-nav .mypage .dropdown .dropdown-menu > .btn-login:hover, #header .top-nav .mypage .dropdown .dropdown-menu > .btn-login:focus {
            background-color: #fff;
            color: #3b3b3b; }
    #header .top-nav .btn-cart {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0;
      right: 185px;
      background-image: url("/ko/assets/images/ico_basket_white.png");
      background-position: 50% 50%;
      background-repeat: no-repeat; }
      #header .top-nav .btn-cart:hover, #header .top-nav .btn-cart:focus {
        background-color: rgba(255, 255, 255, 0.1); }
    #header .top-nav .search {
      position: absolute;
      top: 15px;
      right: 0;
      padding-right: 20px;
      width: 170px;
      height: 20px; }
      #header .top-nav .search .form-group .form-control {
        padding: 0;
        border: 0;
        border-bottom: 1px solid #fff;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        height: 20px;
        color: #fff;
        font-size: 12px;
        font-family: 'Lato', sans-serif; }
      #header .top-nav .search .btn-search {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        width: 20px;
        height: 20px;
        background-color: transparent;
        text-align: right;
        border: 0; }
        #header .top-nav .search .btn-search:before {
          font-family: 'fontello';
          content: '\E801';
          color: #fff; }
  #header .logo-nav {
    position: relative;
    height: 50px; }
    #header .logo-nav h1 {
      padding-top: 12px; }
      #header .logo-nav h1 img {
        display: block;
        margin: 0 auto;
        width: 110px; }
    #header .logo-nav .btn {
      position: absolute;
      top: 8px;
      padding: 0;
      width: 34px;
      height: 34px;
      background-color: #fff;
      border: 0;
      box-shadow: none; }
    #header .logo-nav .btn-aside-open {
      left: 3px; }
      #header .logo-nav .btn-aside-open:before {
        font-family: 'fontello';
        content: '\F008';
        font-size: 18px; }
    #header .logo-nav .btn-search {
      right: 3px; }
      #header .logo-nav .btn-search:before {
        font-family: 'fontello';
        font-size: 18px;
        content: '\E801'; }
    #header .logo-nav .btn-cart {
      right: 34px;
      background-image: url("/ko/assets/images/ico_basket.png");
      background-repeat: no-repeat;
      background-size: 20px auto;
      background-position: 50% 50%; }
    @media (min-width: 768px) {
      #header .logo-nav {
        height: 75px; }
        #header .logo-nav h1 {
          padding-top: 17px; }
          #header .logo-nav h1 img {
            display: block;
            margin: 0 auto;
            width: 172px; }
        #header .logo-nav .btn {
          top: 10px;
          width: 54px;
          height: 55px; }
        #header .logo-nav .btn-aside-open {
          left: 5px; }
          #header .logo-nav .btn-aside-open:before {
            font-size: 24px; }
        #header .logo-nav .btn-search {
          right: 5px; }
          #header .logo-nav .btn-search:before {
            font-size: 24px; }
        #header .logo-nav .btn-cart {
          right: 75px;
          background-size: 27px auto; } }
    @media (min-width: 1280px) {
      #header .logo-nav {
        height: 115px; }
        #header .logo-nav h1 {
          padding-top: 37px; }
          #header .logo-nav h1 img {
            width: auto;
            max-width: 100%; } }
  #header #gnb {
    height: 40px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center; }
    #header #gnb .container > ul {
      display: inline-block;
      width: 300px; }
      #header #gnb .container > ul > li {
        display: inline;
        padding-left: 0;
        padding-right: 0; }
        #header #gnb .container > ul > li > a {
          float: left;
          padding-left: 14px;
          padding-right: 14px;
          text-align: center;
          font-family: 'Lato', sans-serif;
          line-height: 38px;
          font-size: 11px;
          font-weight: bold; }
    @media (min-width: 768px) {
      #header #gnb {
        height: 70px; }
        #header #gnb .container > ul {
          width: 100%; }
          #header #gnb .container > ul > li {
            padding-left: 10px;
            padding-right: 10px; }
            #header #gnb .container > ul > li > a {
              display: block;
              float: none;
              padding-left: 0;
              padding-right: 0;
              width: 100%;
              height: 100%;
              line-height: 68px;
              font-size: 17px; } }
    @media (min-width: 1280px) {
      #header #gnb {
        height: 48px;
        border-top: 0;
        border-bottom: 0; }
        #header #gnb .container > ul > li {
          padding-left: 15px;
          padding-right: 15px; }
          #header #gnb .container > ul > li > a {
            line-height: 48px; }
          #header #gnb .container > ul > li > ul {
            position: relative;
            overflow: hidden;
            margin-left: 20px;
            width: 125px;
            height: 0;
            background-color: #fff;
            opacity: 0;
            transition: all .3s;
            z-index: -1; }
            #header #gnb .container > ul > li > ul > li > a {
              display: block;
              color: #666;
              line-height: 35px;
              font-size: 13px;
              letter-spacing: 1px; }
              #header #gnb .container > ul > li > ul > li > a:hover, #header #gnb .container > ul > li > ul > li > a:focus {
                text-decoration: underline; }
          #header #gnb .container > ul > li.active > ul {
            padding-top: 10px;
            padding-bottom: 10px;
            height: auto;
            opacity: 1;
            z-index: 1; } }
  #header .search-global {
    display: none; }
  #header.search-open .search-global {
    display: block; }
  @media (min-width: 1280px) {
    #header.search-open .search-global {
      display: none; } }

#aside {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999; }
  #aside .aside-content {
    position: absolute;
    left: -280px;
    padding-top: 56px;
    padding-bottom: 60px;
    width: 280px;
    height: 100%;
    background-color: #fff;
    -webkit-transition: left .3s;
    transition: left .3s; }
    #aside .aside-content .btn-aside-close {
      position: absolute;
      top: 18px;
      right: 10px;
      padding: 0;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      z-index: 1; }
      #aside .aside-content .btn-aside-close:before {
        content: url(/ko/assets/images/ico_close.png); }
    #aside .aside-content .aside-head {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 56px;
      border-bottom: 1px solid #ccc;
      font-family: 'Lato', sans-serif;
      font-size: 12px;
      line-height: 36px;
      letter-spacing: 1px;
      color: #2b2b2b; }
      #aside .aside-content .aside-head .member {
        padding: 10px; }
        #aside .aside-content .aside-head .member ul li {
          float: left; }
          #aside .aside-content .aside-head .member ul li + li {
            margin-left: 20px; }
          #aside .aside-content .aside-head .member ul li a {
            display: block;
            font-weight: 500; }
    #aside .aside-content .aside-body {
      position: relative;
      padding-top: 15px;
      padding-bottom: 15px;
      height: 100%;
      overflow: auto;
      font-family: 'Lato', sans-serif;
      font-size: 12px;
      line-height: 40px;
      letter-spacing: 1px;
      color: #2b2b2b; }
      #aside .aside-content .aside-body .nav > ul > li > a {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: bold; }
      #aside .aside-content .aside-body .nav > ul > li > ul {
        display: none;
        padding-top: 5px;
        padding-bottom: 5px; }
        #aside .aside-content .aside-body .nav > ul > li > ul > li > a {
          display: block;
          padding-left: 30px;
          padding-right: 10px;
          line-height: 30px; }
          #aside .aside-content .aside-body .nav > ul > li > ul > li > a:hover, #aside .aside-content .aside-body .nav > ul > li > ul > li > a:focus {
            text-decoration: underline; }
      #aside .aside-content .aside-body .nav > ul > li.active > ul {
        display: block; }
    #aside .aside-content .aside-foot {
      position: absolute;
      bottom: 15px;
      left: 0;
      width: 100%;
      height: 45px; }
      #aside .aside-content .aside-foot .global {
        position: absolute;
        left: 0;
        top: 0;
        padding: 10px; }
        #aside .aside-content .aside-foot .global .btn {
          padding: 0;
          height: 25px;
          background-color: #fff;
          font-family: 'Lato', sans-serif;
          font-size: 12px;
          line-height: 25px;
          color: #666;
          border-radius: 0;
          box-shadow: none;
          border: 0; }
          #aside .aside-content .aside-foot .global .btn:after {
            margin-left: 10px;
            font-family: 'fontello';
            content: '\F106'; }
      #aside .aside-content .aside-foot .sns {
        position: absolute;
        top: 5px;
        right: 10px; }
        #aside .aside-content .aside-foot .sns ul li {
          float: left; }
          #aside .aside-content .aside-foot .sns ul li a {
            display: block;
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            font-size: 15px; }
          #aside .aside-content .aside-foot .sns ul li.instagram a:before {
            font-family: 'fontello';
            content: '\F16D'; }
          #aside .aside-content .aside-foot .sns ul li.blog a:before {
            display: block;
            margin: 0 auto;
            width: 10px;
            content: url(/ko/assets/images/ico_blog.svg); }
          #aside .aside-content .aside-foot .sns ul li.facebook a:before {
            font-family: 'fontello';
            content: '\F09A'; }
  @media (min-width: 768px) {
    #aside .aside-content {
      left: -330px;
      width: 330px; }
      #aside .aside-content .btn-aside-close {
        right: 20px; }
      #aside .aside-content .aside-head .member {
        padding-left: 20px;
        padding-right: 20px; }
        #aside .aside-content .aside-head .member ul li + li {
          margin-left: 30px; }
      #aside .aside-content .aside-body .nav > ul > li > a {
        padding-left: 20px;
        padding-right: 20px; }
      #aside .aside-content .aside-body .nav > ul > li > ul > li > a {
        padding-left: 40px;
        padding-right: 20px; }
      #aside .aside-content .aside-foot .global {
        padding-left: 20px;
        padding-right: 20px; }
      #aside .aside-content .aside-foot .sns ul li a {
        width: 45px; } }

body.aside-open {
  overflow: hidden;
  width: 100%;
  height: 100%; }
  body.aside-open #aside {
    visibility: visible;
    left: 0; }
    body.aside-open #aside .aside-content {
      left: 0; }
  @media (min-width: 1280px) {
    body.aside-open {
      overflow: auto;
      width: auto;
      height: auto; } }

#aside-cart,
#aside-wish {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999; }
  #aside-cart .aside-content,
  #aside-wish .aside-content {
    position: absolute;
    right: -290px;
    padding-top: 50px;
    padding-bottom: 150px;
    width: 290px;
    height: 100%;
    background-color: #fff;
    -webkit-transition: right .3s;
    transition: right .3s;
    border: 1px solid #dfdfdf; }
    #aside-cart .aside-content .aside-head,
    #aside-wish .aside-content .aside-head {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      border-bottom: 1px solid #ccc; }
      #aside-cart .aside-content .aside-head .btn-cart-close,
      #aside-cart .aside-content .aside-head .btn-wish-close,
      #aside-wish .aside-content .aside-head .btn-cart-close,
      #aside-wish .aside-content .aside-head .btn-wish-close {
        position: absolute;
        top: 15px;
        right: 10px;
        padding: 0;
        border: 0;
        cursor: pointer;
        z-index: 1;
        font-family: 'Maven Pro', sans-serif;
        font-size: 12px;
        line-height: 20px;
        color: #000;
        font-weight: 500;
        background-color: transparent; }
        #aside-cart .aside-content .aside-head .btn-cart-close:after,
        #aside-cart .aside-content .aside-head .btn-wish-close:after,
        #aside-wish .aside-content .aside-head .btn-cart-close:after,
        #aside-wish .aside-content .aside-head .btn-wish-close:after {
          float: right;
          margin-left: 10px;
          font-family: 'fontello';
          content: '\E812';
          font-size: 16px;
          line-height: 18px; }
    #aside-cart .aside-content .aside-body,
    #aside-wish .aside-content .aside-body {
      overflow: auto;
      position: relative;
      height: 100%;
      font-family: 'Lato', sans-serif;
      font-size: 12px;
      line-height: 40px;
      letter-spacing: 1px;
      color: #2b2b2b; }
      #aside-cart .aside-content .aside-body > ul > li,
      #aside-wish .aside-content .aside-body > ul > li {
        padding: 20px 0;
        border-bottom: 1px solid #dfdfdf; }
        #aside-cart .aside-content .aside-body > ul > li:before,
        #aside-wish .aside-content .aside-body > ul > li:before {
          display: table;
          content: " ";
          table-layout: fixed; }
        #aside-cart .aside-content .aside-body > ul > li > div,
        #aside-wish .aside-content .aside-body > ul > li > div {
          display: table-cell;
          vertical-align: middle; }
        #aside-cart .aside-content .aside-body > ul > li .checkbox,
        #aside-wish .aside-content .aside-body > ul > li .checkbox {
          width: 30px;
          text-align: center; }
        #aside-cart .aside-content .aside-body > ul > li .figure,
        #aside-wish .aside-content .aside-body > ul > li .figure {
          width: 109px; }
          #aside-cart .aside-content .aside-body > ul > li .figure p .img-responsive,
          #aside-wish .aside-content .aside-body > ul > li .figure p .img-responsive {
            margin: 0 auto; }
          #aside-cart .aside-content .aside-body > ul > li .figure .sit_opt_list,
          #aside-wish .aside-content .aside-body > ul > li .figure .sit_opt_list {
            overflow: hidden;
            margin: 10px auto 0;
            height: auto !important;
            font-size: 0;
            text-align: center;
            width: 70px; }
            #aside-cart .aside-content .aside-body > ul > li .figure .sit_opt_list .btn,
            #aside-wish .aside-content .aside-body > ul > li .figure .sit_opt_list .btn {
              float: left;
              width: 20px;
              height: 20px;
              font-size: 10px;
              color: #2b2b2b;
              line-height: 18px;
              text-align: center;
              padding: 0;
              border: 1px solid #dfdfdf;
              border-radius: 0;
              vertical-align: top; }
            #aside-cart .aside-content .aside-body > ul > li .figure .sit_opt_list .form-control,
            #aside-wish .aside-content .aside-body > ul > li .figure .sit_opt_list .form-control {
              float: left;
              width: 30px;
              height: 20px;
              text-align: center;
              font-size: 10px;
              color: #2b2b2b;
              font-weight: 400;
              padding: 0;
              border-left: 0;
              border-right: 0;
              font-family: 'Lato', sans-serif;
              background-color: #fff; }
              #aside-cart .aside-content .aside-body > ul > li .figure .sit_opt_list .form-control:hover, #aside-cart .aside-content .aside-body > ul > li .figure .sit_opt_list .form-control:focus,
              #aside-wish .aside-content .aside-body > ul > li .figure .sit_opt_list .form-control:hover,
              #aside-wish .aside-content .aside-body > ul > li .figure .sit_opt_list .form-control:focus {
                border-color: #dfdfdf; }
        #aside-cart .aside-content .aside-body > ul > li .summary,
        #aside-wish .aside-content .aside-body > ul > li .summary {
          padding-left: 10px;
          width: 149px;
          font-family: 'Maven Pro', sans-serif; }
          #aside-cart .aside-content .aside-body > ul > li .summary h5,
          #aside-wish .aside-content .aside-body > ul > li .summary h5 {
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0;
            color: #2b2b2b; }
          #aside-cart .aside-content .aside-body > ul > li .summary dl,
          #aside-wish .aside-content .aside-body > ul > li .summary dl {
            line-height: 18px;
            letter-spacing: 0; }
            #aside-cart .aside-content .aside-body > ul > li .summary dl dt, #aside-cart .aside-content .aside-body > ul > li .summary dl dd,
            #aside-wish .aside-content .aside-body > ul > li .summary dl dt,
            #aside-wish .aside-content .aside-body > ul > li .summary dl dd {
              font-weight: 500;
              color: #666; }
            #aside-cart .aside-content .aside-body > ul > li .summary dl dt,
            #aside-wish .aside-content .aside-body > ul > li .summary dl dt {
              float: left; }
          #aside-cart .aside-content .aside-body > ul > li .summary p,
          #aside-wish .aside-content .aside-body > ul > li .summary p {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0;
            font-weight: 500;
            color: #666; }
        #aside-cart .aside-content .aside-body > ul > li .delete,
        #aside-wish .aside-content .aside-body > ul > li .delete {
          display: none; }
    #aside-cart .aside-content .aside-foot,
    #aside-wish .aside-content .aside-foot {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 150px; }
      #aside-cart .aside-content .aside-foot .controls,
      #aside-wish .aside-content .aside-foot .controls {
        height: 50px;
        text-align: center; }
        #aside-cart .aside-content .aside-foot .controls ul,
        #aside-wish .aside-content .aside-foot .controls ul {
          padding-top: 15px;
          display: inline-block; }
          #aside-cart .aside-content .aside-foot .controls ul li,
          #aside-wish .aside-content .aside-foot .controls ul li {
            display: inline; }
            #aside-cart .aside-content .aside-foot .controls ul li a,
            #aside-wish .aside-content .aside-foot .controls ul li a {
              float: left;
              margin-left: 25px;
              margin-right: 25px;
              font-size: 12px;
              line-height: 25px;
              color: #2b2b2b;
              font-weight: 400; }
              #aside-cart .aside-content .aside-foot .controls ul li a span,
              #aside-wish .aside-content .aside-foot .controls ul li a span {
                padding-bottom: 3px; }
              #aside-cart .aside-content .aside-foot .controls ul li a:hover span, #aside-cart .aside-content .aside-foot .controls ul li a:focus span,
              #aside-wish .aside-content .aside-foot .controls ul li a:hover span,
              #aside-wish .aside-content .aside-foot .controls ul li a:focus span {
                border-bottom: 1px solid #ababab; }
      #aside-cart .aside-content .aside-foot .summary,
      #aside-wish .aside-content .aside-foot .summary {
        padding-top: 15px;
        height: 100px;
        border-top: 1px solid #dfdfdf; }
        #aside-cart .aside-content .aside-foot .summary dl,
        #aside-wish .aside-content .aside-foot .summary dl {
          text-align: center;
          font-family: 'Maven Pro', sans-serif;
          color: #2b2b2b;
          font-size: 12px;
          line-height: 18px; }
          #aside-cart .aside-content .aside-foot .summary dl dt,
          #aside-wish .aside-content .aside-foot .summary dl dt {
            display: inline;
            font-weight: 500; }
            #aside-cart .aside-content .aside-foot .summary dl dt:after,
            #aside-wish .aside-content .aside-foot .summary dl dt:after {
              content: ':'; }
          #aside-cart .aside-content .aside-foot .summary dl dd,
          #aside-wish .aside-content .aside-foot .summary dl dd {
            display: inline;
            font-weight: 500; }
        #aside-cart .aside-content .aside-foot .summary p,
        #aside-wish .aside-content .aside-foot .summary p {
          margin-top: 10px;
          padding-left: 20px;
          padding-right: 20px; }
          #aside-cart .aside-content .aside-foot .summary p a,
          #aside-wish .aside-content .aside-foot .summary p a {
            display: block;
            width: 100%;
            height: 32px;
            background-color: #2b2b2b;
            color: #fff;
            text-align: center;
            line-height: 32px;
            font-family: 'Lato', sans-serif;
            letter-spacing: 1px;
            font-weight: 500; }
  @media (min-width: 768px) {
    #aside-cart .aside-content,
    #aside-wish .aside-content {
      right: -400px;
      width: 400px; }
      #aside-cart .aside-content .aside-head .btn-cart-close,
      #aside-cart .aside-content .aside-head .btn-wish-close,
      #aside-wish .aside-content .aside-head .btn-cart-close,
      #aside-wish .aside-content .aside-head .btn-wish-close {
        right: 30px; }
      #aside-cart .aside-content .aside-body > ul > li .checkbox,
      #aside-wish .aside-content .aside-body > ul > li .checkbox {
        width: 50px; }
      #aside-cart .aside-content .aside-body > ul > li .summary,
      #aside-wish .aside-content .aside-body > ul > li .summary {
        padding-left: 30px;
        width: 199px; }
      #aside-cart .aside-content .aside-body > ul > li .delete,
      #aside-wish .aside-content .aside-body > ul > li .delete {
        display: table-cell;
        width: 50px;
        text-align: center; }
        #aside-cart .aside-content .aside-body > ul > li .delete .btn-delete:before,
        #aside-wish .aside-content .aside-body > ul > li .delete .btn-delete:before {
          font-family: 'fontello';
          content: '\E813'; } }
  @media (min-width: 1280px) {
    #aside-cart,
    #aside-wish {
      background-color: transparent; } }

#aside-wish .aside-content {
  padding-bottom: 100px; }
  #aside-wish .aside-content .aside-foot {
    height: 100px; }

body.cart-open {
  overflow: hidden;
  width: 100%;
  height: 100%;
  /*
  @media (min-width: $lg) {
      overflow: auto;
      width: auto;
      height: auto;
  }
  */ }
  body.cart-open #aside-cart {
    visibility: visible;
    right: 0; }
    body.cart-open #aside-cart .aside-content {
      right: 0; }

body.wish-open {
  overflow: hidden;
  width: 100%;
  height: 100%;
  /*
  @media (min-width: $lg) {
      overflow: auto;
      width: auto;
      height: auto;
  }
  */ }
  body.wish-open #aside-wish {
    visibility: visible;
    right: 0; }
    body.wish-open #aside-wish .aside-content {
      right: 0; }

#footer {
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #666; }
  #footer .company p {
    display: inline; }
  #footer .company ul {
    display: inline; }
    #footer .company ul li {
      display: inline; }
      #footer .company ul li:before {
        display: inline-block;
        padding-left: 3px;
        padding-right: 5px;
        content: '|'; }
  #footer .policy {
    margin-top: 15px; }
    #footer .policy ul li {
      display: inline; }
      #footer .policy ul li a {
        color: #666; }
      #footer .policy ul li + li {
        margin-left: 10px; }
  @media (min-width: 1280px) {
    #footer .policy {
      margin-top: 0;
      text-align: right; } }

/*# sourceMappingURL=default.css.map */
